* {
  margin: 0;
  padding: 0;
}

.container {
  width: 1920px;
  margin: 0 auto;
}


/*Первый блок*/

.header {
  width: 100%;
  height: 1024px;
  padding: 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #565657;
  background-image: url('../img/header_photo.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header-wrap-top {
  width: 1175px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto 285px;
}

.header-wrap-top-logo {
  text-decoration: none;
  text-transform: capitalize;
  width: 181px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-wrap-top-logo svg {
  fill: #ffffff;
}

.header-wrap-top-logo span {
  color: #ffffff;
  font-family: 'raleway-regular', 'Calibri', sans-serif;
  font-size: 34px;
  letter-spacing: -1.36px;
}

.header-wrap-top-logo:hover svg {
  fill: #c7b299;
}

.header-wrap-top-logo:hover span {
  color: #c7b299;
}

.header-wrap-top-logo:active svg {
  fill: #ffffff;
}

.header-wrap-top-logo:active span {
  color: #ffffff;
}

.mobile-menu-label,
.mobile-menu-checkbox {
  display: none;
}

.header-wrap-top-ncs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 21px;
}

.header-wrap-top-nav {
  width: 637px;
  margin-right: 63px;
}

.header-wrap-top-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header-wrap-top-nav-item {
  list-style-type: none;
}

.header-wrap-top-nav-item a {
  display: block;
  text-transform: capitalize;
  text-decoration: none;
  color: #ffffff;
  font-family: 'montserrat-light', 'Corbel', sans-serif;
  font-size: 14px;
}

.header-wrap-top-nav-item a:hover {
  color: #c7b299;
}

.header-wrap-top-nav-item a:active {
  color: #ffffff;
}

.header-wrap-top-cart {
  display: block;
  width: 18px;
  height: 24px;
  border: none;
  outline: none;
  background-color: transparent;
  margin-right: 28px;
  cursor: pointer;
}

.header-wrap-top-cart:active {
  outline: 1px solid #bfab94;
  outline-offset: 2px;
}

.header-wrap-top-cart svg {
  fill: #ffffff;
}

.header-wrap-top-cart svg:hover {
  fill: #c7b299;
}

.header-wrap-top-search {
  width: 24px;
  height: 24px;
  border: none;
  outline: none;
  background-color: transparent;
  background-image: url('../img/header_icon-search.svg');
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.header-wrap-top-search:focus {
  width: 200px;
  outline: 1px solid #bfab94;
  outline-offset: 0;
  -webkit-transition: width 1s ease-out;
  -o-transition: width 1s ease-out;
  transition: width 1s ease-out;
}

.header-wrap-carousel {
  position: relative;
}

.header-wrap-carousel-link-left:before {
  content: "";
  display: block;
  width: 55px;
  height: 55px;
  border-left: 3px solid #a2a19f;
  border-bottom: 3px solid #a2a19f;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  opacity: 0.5;
  position: absolute;
  top: 94px;
  left: 110px;
}

.header-wrap-carousel-link-left:hover:before {
  border-left: 3px solid #d3c1ad;
  border-bottom: 3px solid #d3c1ad;
}

.header-wrap-carousel-link-left:active:before {
  border-left: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
}

.header-wrap-carousel-txt {
  width: 589px;
  margin: 0 auto;
}

.header-wrap-carousel-txt-h2 {
  display: block;
  color: #ffffff;
  font-family: 'raleway-medium', 'Calibri', sans-serif;
  font-size: 36px;
  margin-bottom: 14px;
  text-align: center;
}

.header-wrap-carousel-txt-h1 {
  display: block;
  color: #ffffff;
  font-family: 'raleway-extrabold', 'Calibri', sans-serif;
  font-size: 52px;
  margin-bottom: 19px;
  text-align: center;
}

.header-wrap-carousel-txt p {
  text-align: center;
  color: #ffffff;
  font-family: 'montserrat-light', 'Corbel', sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 52px;
}

.header-wrap-carousel-txt-btn {
  display: block;
  padding: 19px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 170px;
  -webkit-box-shadow: inset 0 -3px 0 #736357;
  box-shadow: inset 0 -3px 0 #736357;
  border-radius: 3px;
  text-align: center;
  background-color: #998675;
  text-decoration: none;
  margin: 0 auto;
}

.header-wrap-carousel-txt-btn:hover {
  background-color: #ffffff;
  -webkit-box-shadow: inset 0 -3px 0 #ccc;
  box-shadow: inset 0 -3px 0 #ccc;
}

.header-wrap-carousel-txt-btn:active {
  background-color: #998675;
  box-shadow: inset 0 -3px 0 #736357;
}

.header-wrap-carousel-txt-btn:hover span {
  color: #998675;
}

.header-wrap-carousel-txt-btn:active span {
  color: #ffffff;
}

.header-wrap-carousel-txt-btn span {
  color: #ffffff;
  font-family: 'raleway-bold', 'Calibri', sans-serif;
  font-size: 14px;
  line-height: 23px;
  text-transform: uppercase;
}

.header-wrap-carousel-link-right:before {
  content: "";
  display: block;
  width: 55px;
  height: 55px;
  border-left: 3px solid #a2a19f;
  border-bottom: 3px solid #a2a19f;
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
  opacity: 0.5;
  position: absolute;
  top: 94px;
  right: 110px;
}

.header-wrap-carousel-link-right:hover:before {
  border-left: 3px solid #d3c1ad;
  border-bottom: 3px solid #d3c1ad;
}

.header-wrap-carousel-link-right:active:before {
  border-left: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
}

.header-wrap-carousel-pagination {
  width: 100px;
  position: absolute;
  top: 588px;
  left: 871px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header-wrap-carousel-pagination-link {
  display: block;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #999797;
  opacity: 0.5;
  border: 2px solid transparent;
}

.header-wrap-carousel-pagination-link:hover {
  border: 1px solid #d3c1ad;
  background-color: black;
}

.header-wrap-carousel-pagination-link:active {
  border: 2px solid #d3c1ad;
  background-color: transparent;
}


/*Второй блок*/

.services {
  width: 100%;
  padding: 80px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.services div:nth-child(4) {
  margin-right: 0;
}

.services div {
  width: 266px;
  margin-right: 34px;
  text-align: center;
  position: relative;
  margin-bottom: 30px;
}

.services div:before {
  content: "";
  display: block;
  width: 26%;
  height: 3px;
  background-color: #f1eee9;
  position: absolute;
  top: 215px;
  left: 36%
}

.services svg {
  display: block;
  fill: #555555;
  width: 52px;
  height: 49px;
  margin: 0 auto 30px auto;
}

.services span {
  color: #555555;
  font-family: 'raleway-semibold', 'Calibri', sans-serif;
  font-size: 20px;
  text-transform: capitalize;
  margin-bottom: 19px;
}

.services p {
  color: #8c8c8c;
  font-family: 'montserrat-light', 'Corbel', sans-serif;
  font-size: 14px;
  line-height: 24px;
  margin-top: 19px;
  max-height: 65px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.services div:hover svg {
  fill: #c7b299;
}

.services div:hover span {
  color: #c7b299;
}

.services div:hover p {
  color: #c7b299;
}

.services div:hover:before {
  background-color: #c7b299;
}


/*Третий блок*/

.realization {
  width: 100%;
  min-height: 700px;
  background-color: #fbfaf8;
  padding: 80px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url('../img/realization_bg-center.jpg'), url('../img/realization_bg-left.jpg'), url('../img/realization_bg-right.jpg');
  -webkit-background-size: 770px 482px, 770px 400px, 770px 400px;
  -moz-background-size: 770px 482px, 770px 400px, 770px 400px;
  -o-background-size: 770px 482px, 770px 400px, 770px 400px;
  background-size: 770px 482px, 770px 400px, 770px 400px;
  background-repeat: no-repeat;
  background-position: center bottom, 345px bottom, 805px bottom;
}

.realization span {
  display: block;
  color: #555555;
  font-family: 'raleway-semibold', 'Calibri', sans-serif;
  font-size: 30px;
  margin: 0 auto;
}

.realization p {
  color: #8c8c8c;
  font-family: 'montserrat-light', 'Corbel', sans-serif;
  font-size: 16px;
  line-height: 28px;
  margin: 24px auto 0;
}

.realization span,
.realization p {
  width: 758px;
  text-align: center;
}


/*Четвертый блок*/

.aside {
  width: 100%;
  padding: 48px 375px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #392921;
  background-image: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background-image: -webkit-linear-gradient(left, #211b19 0%, #4e3427 100%);
  background-image: -o-linear-gradient(left, #211b19 0%, #4e3427 100%);
  background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.aside-title {
  display: block;
  color: #ffffff;
  font-family: 'raleway-regular', 'Calibri', sans-serif;
  font-size: 28px;
  margin-bottom: 8px;
}

.aside-title-txt {
  font-family: 'raleway-regular', 'Calibri', sans-serif;
  font-size: 28px;
  color: #c7b299;
}

.aside p {
  color: #615855;
  font-family: 'montserrat-light', 'Corbel', sans-serif;
  font-size: 18px;
}

.aside-btn {
  display: block;
  text-decoration: none;
  width: 170px;
  -webkit-box-shadow: inset 0 -3px 0 #736357;
  box-shadow: inset 0 -3px 0 #736357;
  border-radius: 3px;
  background-color: #998675;
  padding: 19px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}

.aside-btn span {
  color: #ffffff;
  font-family: 'raleway-extrabold', 'Calibri', sans-serif;
  font-size: 14px;
  line-height: 23px;
  text-transform: uppercase;
}

.aside-btn:hover {
  background-color: #ffffff;
  -webkit-box-shadow: inset 0 -3px 0 #ccc;
  box-shadow: inset 0 -3px 0 #ccc;
}

.aside-btn:hover span {
  color: #998675;
}

.aside-btn:active {
  background-color: #998675;
  -webkit-box-shadow: inset 0 -3px 0 #736357;
  box-shadow: inset 0 -3px 0 #736357;
}

.aside-btn:active span {
  color: #ffffff;
}


/*пятый блок*/

.projects {
  width: 100%;
  padding: 80px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.projects-title {
  display: block;
  text-transform: capitalize;
  color: #555555;
  font-family: 'raleway-semibold', 'Calibri', sans-serif;
  font-size: 30px;
  margin: 0 auto 24px;
}

.projects-txt {
  color: #8c8c8c;
  font-family: 'montserrat-light', 'Corbel', sans-serif;
  font-size: 16px;
  line-height: 28px;
  margin: 0 auto 40px;
}

.projects-title,
.projects-txt {
  text-align: center;
  width: 757px;
}

.projects-categories {
  width: 605px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto 40px;
}

.projects-categories-link {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 120px;
  padding: 10px;
  border-radius: 3px;
  box-sizing: border-box;
  border: 1px solid #ebebeb;
  background-color: #ffffff;
}

.projects-categories-link:first-child {
  width: 70px;
}

.projects-categories-link:last-child {
  width: 135px;
}

.projects-categories-link:hover {
  background-color: #998675;
}

.projects-categories-link:active {
  background-color: #ffffff;
}

.projects-categories-link span {
  text-transform: capitalize;
  color: #8c8c8c;
  font-family: 'montserrat-light', 'Corbel', sans-serif;
  font-size: 14px;
  line-height: 21px;
  margin: auto;
}

.projects-categories-link:hover span {
  color: #ffffff;
}

.projects-categories-link:active span {
  color: #998675;
}

.projects-article-wrap {
  width: 1170px;
  /*  min-height: 714px;*/
  margin: 0 auto 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.projects-article-item {
  width: 370px;
  position: relative;
}

.projects-article-item:nth-child(1),
.projects-article-item:nth-child(2),
.projects-article-item:nth-child(3) {
  margin-bottom: 30px;
}

.projects-article-item:hover .projects-article-img {
  -webkit-filter: brightness(40%);
  -ms-filter: brightness(40%);
  filter: brightness(40%);
}

.projects-article-item:hover .projects-article-txt {
  background-color: #362f2d;
}

.projects-article-item:hover .projects-article-txt:after {
  border-bottom: 10px solid #362f2d;
}

.projects-article-item:hover .projects-article-txt-1 {
  color: #ffffff;
}

.projects-article-item:hover .projects-article-txt-2 {
  color: #c7b299;
}

.projects-article-item:hover .projects-article-item-btn-link,
.projects-article-item:hover .projects-article-item-btn-loupe {
  display: block;
}

.projects-article-item:hover .projects-article-item-btn-link:hover,
.projects-article-item:hover .projects-article-item-btn-loupe:hover {
  border: 1px solid #c7b299;
}

.projects-article-item:hover .projects-article-item-btn-link:active,
.projects-article-item:hover .projects-article-item-btn-loupe:active {
  background-color: #998675;
}

.projects-article-item a {
  text-decoration: none;
}

.projects-article-img {
  display: block;
  width: 370px;
  height: 237px;
}

.projects-article-txt {
  padding: 27px;
  background-color: #fbfaf8;
  position: relative;
}

.projects-article-txt:after {
  content: "";
  display: block;
  border: 10px solid transparent;
  border-bottom: 10px solid #fbfaf8;
  position: absolute;
  top: -19px;
  left: 27px;
}

.projects-article-txt-1 {
  display: block;
  text-transform: capitalize;
  color: #c7b299;
  font-family: 'raleway-medium', 'Calibri', sans-serif;
  font-size: 20px;
}

.projects-article-txt-2 {
  display: block;
  text-transform: capitalize;
  color: #d1d1d1;
  font-family: 'montserrat-light', 'Corbel', sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin-top: 10px;
}

.projects-article-item-btn-link,
.projects-article-item-btn-loupe {
  display: none;
  outline: none;
  border: none;
  border: 1px solid transparent;
  width: 26px;
  height: 26px;
  background-color: transparent;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 106px;
}

.projects-article-item-btn-link {
  background-image: url(../img/projects_link.png);
  left: 144px;
}

.projects-article-item-btn-loupe {
  background-image: url(../img/projects_loupe.png);
  right: 144px;
}

.projects-btn {
  display: block;
  text-decoration: none;
  width: 170px;
  -webkit-box-shadow: inset 0 -3px 0 #736357;
  box-shadow: inset 0 -3px 0 #736357;
  border-radius: 3px;
  background-color: #998675;
  padding: 19px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  border: 1px solid transparent;
  margin: 40px auto 0;
}

.projects-btn:hover {
  background-color: #ffffff;
  -webkit-box-shadow: inset 0 -3px 0 #ccc;
  box-shadow: inset 0 -3px 0 #ccc;
  border: 1px solid #ccc;
}

.projects-btn:active {
  background-color: #998675;
  -webkit-box-shadow: inset 0 -3px 0 #736357;
  box-shadow: inset 0 -3px 0 #736357;
}

.projects-btn:hover span {
  color: #998675;
}

.projects-btn:active span {
  color: #ffffff;
}

.projects-btn span {
  color: #ffffff;
  font-family: 'raleway-extrabold', 'Calibri', sans-serif;
  font-size: 14px;
  line-height: 23px;
  text-transform: uppercase;
}


/*Шестой блок*/

.video {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.video-wrap {
  width: 552px;
  position: absolute;
  top: 210px;
  left: 684px;
  text-align: center;
}

.video-wrap-btn {
  display: block;
  width: 100px;
  height: 100px;
  background-color: transparent;
  background-image: url('../img/video-btn-circle.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 auto 44px;
}

.video-wrap-btn svg {
  fill: #ffffff;
}

.video-wrap-btn:hover svg {
  fill: #c7b299;
}

.video-wrap span {
  text-transform: capitalize;
  color: #ffffff;
  font-family: 'raleway-medium', 'Calibri', sans-serif;
  font-size: 30px;
}

.video-wrap p {
  color: #ffffff;
  font-family: 'montserrat-light', 'Corbel', sans-serif;
  font-size: 16px;
  line-height: 28px;
  margin: 29px 0 40px 0;
}

.video-wrap-time {
  color: #c7b299;
  font-family: 'montserrat-regular', 'Corbel', sans-serif;
  font-size: 14px;
  line-height: 24px;
}


/*Седьмой блок*/

.mobile {
  width: 100%;
  padding: 80px 80px 0 80px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fbfaf8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.mobile-img {
  display: block;
  width: 423px;
  height: 616px;
  align-self: flex-end;
}

.mobile-txt {
  width: 657px;
  margin-left: 31px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.mobile-txt-title {
  color: #555555;
  font-family: 'raleway-semibold', 'Calibri', sans-serif;
  font-size: 30px;
}

.mobile-txt p {
  color: #8c8c8c;
  font-family: 'montserrat-light', 'Corbel', sans-serif;
  font-size: 16px;
  line-height: 28px;
  margin: 40px 0 45px 0;
}

.mobile-txt-list {
  list-style-type: none;
  margin-left: 100px;
}

.mobile-txt-list-item {
  color: #8c8c8c;
  font-family: 'montserrat-light', 'Corbel', sans-serif;
  font-size: 16px;
  line-height: 32px;
  position: relative;
}

.mobile-txt-list-item:before {
  display: block;
  content: "";
  width: 22px;
  height: 22px;
  background-color: transparent;
  background-image: url(../img/mobile-list-before.png);
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 4px;
  left: -51px;
}


/*Восьмой блок*/

.counters {
  width: 100%;
  padding: 60px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #372720;
  background-image: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background-image: -webkit-linear-gradient(left, #211b19 0%, #4e3427 100%);
  background-image: -o-linear-gradient(left, #211b19 0%, #4e3427 100%);
  background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.counters div {
  position: relative;
  width: 136px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  margin: 0 73px 30px 0;
}

.counters div:nth-child(5) {
  margin-right: 0;
}

.counters div:after {
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  top: 179px;
  left: 53px;
}

.counters svg {
  fill: #c7b299;
}

.counters-qty {
  display: block;
  margin: 30px 0 21px 0;
  color: #ffffff;
  font-family: 'montserrat-thin', 'Corbel', sans-serif;
  font-size: 48px;
  line-height: 36px;
}

.counters-txt {
  color: #c7b299;
  font-family: 'montserrat-light', 'Corbel', sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}


/*Девятый блок*/

.posts {
  width: 100%;
  padding: 80px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.posts-title {
  display: block;
  text-transform: capitalize;
  color: #555555;
  font-family: 'raleway-semibold', 'Calibri', sans-serif;
  font-size: 30px;
  text-align: center;
}

.posts-txt {
  width: 757px;
  color: #8c8c8c;
  font-family: 'montserrat-light', 'Corbel', sans-serif;
  font-size: 16px;
  line-height: 28px;
  margin: 30px auto 40px auto;
  text-align: center;
}

.posts-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 40px;
}

.posts-article {
  width: 370px;
  margin-right: 30px;
  border: 1px solid #f8f8f8;
  background-color: #ffffff;
  position: relative;
}

.posts-article:nth-child(3) {
  margin-right: 0;
}

.posts-article:hover img {
  -webkit-filter: brightness(40%);
  -ms-filter: brightness(40%);
  filter: brightness(40%);
}

.posts-article:hover .posts-article-txt-wrap {
  background-color: #362f2d;
}

.posts-article:hover .posts-article-title {
  color: #c7b299;
}

.posts-article:hover .posts-article-txt {
  color: #ffffff;
}

.posts-article:hover .posts-date-day {
  background-color: #c7b299;
}

.posts-article:hover .posts-date-month {
  background-color: #a48d72;
}

.posts-article img {
  display: block;
  width: 370px;
  height: 220px;
}

.posts-article-txt-wrap {
  padding: 30px;
}

.posts-article-title {
  color: #555555;
  font-family: 'raleway-medium', 'Calibri', sans-serif;
  font-size: 20px;
}

.posts-article-txt {
  color: #8c8c8c;
  font-family: 'montserrat-light', 'Corbel', sans-serif;
  font-size: 14px;
  line-height: 22px;
  margin: 19px 0 27px 0;
}

.posts-article-link {
  text-decoration: none;
  text-transform: capitalize;
  color: #c7b299;
  font-family: 'montserrat-light', 'Corbel', sans-serif;
  font-size: 14px;
  line-height: 20px;
  position: relative;
}

.posts-article-link:hover {
  color: #ffffff;
}

.posts-article-link:hover:after {
  border-left: 5px solid #ffffff;
}

.posts-article-link:after {
  content: "";
  display: block;
  border: 5px solid transparent;
  border-left: 5px solid #c7b299;
  position: absolute;
  top: 2px;
  left: 83px;
}

.posts-date {
  width: 50px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.posts-date-day {
  display: block;
  border-radius: 3px 3px 0 0;
  background-color: #363636;
  color: #ffffff;
  font-family: 'montserrat-light', 'Corbel', sans-serif;
  font-size: 24px;
  line-height: 20px;
  padding: 9px;
  text-align: center;
}

.posts-date-month {
  display: block;
  border-radius: 0 0 3px 3px;
  background-color: #252525;
  color: #ffffff;
  font-family: 'roboto-regular', 'Calibri', sans-serif;
  font-size: 12px;
  line-height: 20px;
  padding: 4px;
  text-align: center;
}

.posts-btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.posts-btn {
  border: none;
  display: block;
  width: 22px;
  height: 22px;
  background-color: transparent;
}

.posts-btn:hover svg {
  fill: #c7b299;
}

.posts-btn svg {
  fill: #d1d1d1;
}

.posts-btn:first-child {
  margin-right: 8px;
}


/*Деcятый блок*/

.partners {
  width: 100%;
  padding: 140px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #393d40;
  background-image: url(../img/partners_bg.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.partners-logo {
  margin-right: 90px;
}

.partners-logo:last-child {
  margin-right: 0;
}

.partners-logo:hover {
  -webkit-filter: brightness(60%);
  -ms-filter: brightness(60%);
  filter: brightness(60%);
}

.partners-logo:active {
  -webkit-filter: brightness(100%);
  -ms-filter: brightness(100%);
  filter: brightness(100%);
}


/*Одиннадцатый блок*/

.footer-top {
  width: 100%;
  padding: 80px 375px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #191919;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-top-waxom {
  width: 258px;
}

.footer-top-waxom-logo {
  text-transform: capitalize;
  width: 181px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-top-waxom-logo svg {
  fill: #ffffff;
}

.footer-top-waxom-logo span {
  text-transform: capitalize;
  color: #ffffff;
  font-family: 'raleway-regular', 'Calibri', sans-serif;
  font-size: 34px;
  font-weight: 400;
  letter-spacing: -1.36px;
}

.footer-top-waxom-txt {
  color: #555555;
  font-family: 'montserrat-light', 'Corbel', sans-serif;
  font-size: 14px;
  line-height: 24px;
  margin: 28px 0 33px 0;
}

.footer-top-waxom-link {
  text-transform: capitalize;
  text-decoration: none;
  color: #d1d1d1;
  font-family: 'montserrat-regular', 'Corbel', sans-serif;
  font-size: 14px;
  line-height: 20px;
  position: relative;
}

.footer-top-waxom-link:hover {
  color: #c7b299;
}

.footer-top-waxom-link:hover:after {
  border-left: 5px solid #c7b299;
}

.footer-top-waxom-link:active {
  color: #d1d1d1;
}

.footer-top-waxom-link:active:after {
  border-left: 5px solid #d1d1d1;
}

.footer-top-waxom-link:after {
  content: "";
  display: block;
  border: 5px solid transparent;
  border-left: 5px solid #d1d1d1;
  position: absolute;
  top: 2px;
  left: 87px;
}

.footer-top-posts {
  width: 262px;
}

.footer-top-posts,
.footer-top-twitter,
.footer-top-widget {
  margin-top: 28px;
}

.footer-top-posts-preview-title,
.footer-top-twitter-title,
.footer-top-widget-title {
  text-transform: capitalize;
  color: #ffffff;
  font-family: 'raleway-bold', 'Calibri', sans-serif;
  font-size: 24px;
  display: block;
  width: 100%;
  margin-bottom: 28px;
}

.footer-top-posts-preview {
  margin-bottom: 42px;
  position: relative;
}

.footer-top-posts-preview:nth-child(4) {
  margin-bottom: 0;
}

.footer-top-posts-preview-link {
  text-decoration: none;
}

.footer-top-posts-preview:nth-child(2):after,
.footer-top-posts-preview:nth-child(4):after {
  content: "";
  display: block;
  width: 267px;
  height: 1px;
  background-color: #252525;
  position: absolute;
  left: 0;
}

.footer-top-posts-preview:nth-child(2):after {
  top: 89px;
}

.footer-top-posts-preview:nth-child(4):after {
  top: -22px;
}

.footer-top-posts-preview-link:hover span {
  color: #ffffff;
}

.footer-top-posts-preview-link:active span {
  color: #363636;
}

.footer-top-posts-preview-link:hover p {
  color: #c7b299;
}

.footer-top-posts-preview-link:active p {
  color: #555555;
}

.footer-top-posts-preview-link p {
  text-decoration: none;
  color: #555555;
  font-family: 'montserrat-light', 'Corbel', sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin-top: 10px;
}

.footer-top-posts-preview-link span {
  color: #363636;
  font-family: 'montserrat-light', 'Corbel', sans-serif;
  font-size: 12px;
  line-height: 20px;
}

.footer-top-twitter {
  width: 267px;
  position: relative;
}

.footer-top-twitter-txt {
  color: #555555;
  font-family: 'montserrat-light', 'Corbel', sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 11px;
}

.footer-top-twitter-txt:nth-child(2):after,
.footer-top-twitter-txt:nth-child(4):after {
  content: "";
  display: block;
  width: 267px;
  height: 1px;
  background-color: #252525;
  position: absolute;
  left: 0;
}

.footer-top-twitter-txt:nth-child(2):after {
  top: 144px;
}

.footer-top-twitter-txt:nth-child(4):after {
  top: 274px;
}

.footer-top-twitter-txt span {
  color: #00bff3;
}

.footer-top-twitter-time {
  display: block;
  color: #363636;
  font-family: 'montserrat-light', 'Corbel', sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 40px;
}

.footer-top-twitter-time:nth-child(7) {
  margin-bottom: 0;
}

.footer-top-widget {
  width: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.footer-top-widget-img {
  display: block;
  width: 130px;
  height: 98px;
}

.footer-top-widget-img:nth-child(2),
.footer-top-widget-img:nth-child(3) {
  margin-bottom: 10px;
}

.footer-top-widget-img:hover {
  -webkit-filter: brightness(55%);
  filter: brightness(55%);
}


/*Двенадцатый блок*/

.footer-bottom {
  width: 100%;
  padding: 50px 375px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #111111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-bottom-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer-bottom-list-item {
  margin-right: 20px;
  position: relative;
}

.footer-bottom-list-item:last-child {
  margin-right: 0;
}

.footer-bottom-list-item-txt,
.footer-bottom-list-item-txt-link,
.footer-bottom-list-item-link {
  font-family: 'montserrat-light', 'Corbel', sans-serif;
  font-size: 13px;
  line-height: 20px;
}

.footer-bottom-list-item-txt {
  color: #555555;
}

.footer-bottom-list-item-txt-link {
  text-decoration: none;
  color: #959595;
}

.footer-bottom-list-item-link {
  text-decoration: none;
  color: #555555;
}

.footer-bottom-list-item a:hover {
  color: #c7b299;
}

.footer-bottom-list-item a:active {
  color: #555555;
}

.footer-bottom-list-item:nth-child(2):before,
.footer-bottom-list-item:nth-child(3):before,
.footer-bottom-list-item:nth-child(4):before {
  content: "";
  display: block;
  width: 1px;
  height: 11px;
  background-color: #252525;
  position: absolute;
  top: 4px;
  left: -11px;
}

.footer-bottom-wrap-txt,
.footer-bottom-wrap-link {
  font-family: 'montserrat-light', 'Corbel', sans-serif;
  font-size: 13px;
  line-height: 20px;
}

.footer-bottom-wrap-txt {
  color: #555555;
  position: relative;
}

.footer-bottom-wrap-txt:nth-child(3):before {
  content: "";
  display: block;
  width: 1px;
  height: 11px;
  background-color: #252525;
  position: absolute;
  top: 0px;
  right: 61px;
}

.footer-bottom-wrap-link {
  text-decoration: none;
  color: #959595;
}

.footer-bottom-wrap-link:nth-child(2) {
  margin-right: 20px;
}

.footer-bottom-wrap-link:hover {
  color: #c7b299;
}

.footer-bottom-wrap-link:active {
  color: #959595;
}

@media (max-width: 575.98px) {
  .container {
    width: 100%;
  }
  .header {
    height: auto;
    position: relative;
  }
  .header-wrap-top {
    width: 100%;
    margin-bottom: 0;
  }
  .header-wrap-top-logo:active svg {
    fill: #c7b299;
  }
  .header-wrap-top-logo:active span {
    color: #c7b299;
  }
  .mobile-menu-label {
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 42px;
    right: 5%;
    z-index: 5;
  }
  .mobile-menu-icon {
    width: 35px;
    height: 4px;
    background-color: #fff;
    position: absolute;
    top: 67px;
    right: 6.8%;
    transition: .3s;
  }
  .mobile-menu-icon:before,
  .mobile-menu-icon:after {
    content: "";
    display: block;
    width: 35px;
    height: 4px;
    background-color: #fff;
    position: absolute;
    transition: .3s;
  }
  .mobile-menu-icon:before {
    top: -10px;
  }
  .mobile-menu-icon:after {
    top: 10px;
  }
  .mobile-menu-checkbox:checked~.header-wrap-top-ncs {
    visibility: visible;
  }
  .mobile-menu-checkbox:checked~.mobile-menu-icon {
    background-color: transparent;
  }
  .mobile-menu-checkbox:checked~.mobile-menu-icon:before {
    -webkit-transform: rotate(-45deg) translate(-7px, 7px);
    -ms-transform: rotate(-45deg) translate(-7px, 7px);
    transform: rotate(-45deg) translate(-7px, 7px);
    height: 5px;
  }
  .mobile-menu-checkbox:checked~.mobile-menu-icon:after {
    -webkit-transform: rotate(45deg) translate(-7px, -7px);
    -ms-transform: rotate(45deg) translate(-7px, -7px);
    transform: rotate(45deg) translate(-7px, -7px);
    height: 5px;
  }
  .header-wrap-top-ncs {
    visibility: hidden;
    position: absolute;
    margin-top: 0;
    width: 100%;
    background-color: #393836;
    top: 136px;
    left: 0;
    z-index: 4;
  }
  .header-wrap-top-nav {
    width: auto;
    margin-right: 0;
    width: 100%;
  }
  .header-wrap-top-nav ul {
    display: flex;
    flex-direction: column;
  }
  .header-wrap-top-nav-item {
    padding: 10px;
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;
  }
  .header-wrap-top-nav-item:active {
    background-color: #a48d72;
  }
  .header-wrap-top-cart,
  .header-wrap-top-search {
    display: none;
  }
  .header-wrap-carousel,
  .realization,
  .aside {
    display: none;
  }
  .services {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
  }
  .services div {
    width: 45%;
    margin: 0 0 33px 0;
    min-height: 220px;
  }
  .services div span {
    font-size: 17px;
  }
  .services div:nth-child(3),
  .services div:nth-child(4) {
    margin-bottom: 0;
  }
  .projects {
    padding: 20px;
  }
  .projects-title,
  .projects-txt {
    width: 100%;
  }
  .projects-categories {
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .projects-categories-link {
    margin: 5px;
  }
  .projects-article-wrap {
    width: 100%;
  }
  .projects-article-item {
    margin: 0 auto 20px;
  }
  .projects-article-item:nth-child(6) {
    margin-bottom: 0;
  }
  .projects-article-img {
    width: 100%;
    height: auto;
  }
  .projects-article-item-btn-link {
    left: 38%;
  }
  .projects-article-item-btn-loupe {
    right: 38%;
  }
  .projects-btn {
    margin-bottom: 20px;
  }
  .projects-categories-link:active,
  .projects-btn:active {
    background-color: #362f2d;
  }
  video {
    width: 100%;
    height: auto;
    -webkit-object-fit: cover;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .video-wrap {
    width: 100%;
    top: 23%;
    left: 0px;
  }
  .video-wrap-btn {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
    background-image: url(../img/icon-play.png);
    background-color: #5a5e62;
    border-radius: 50%;
  }
  .video-wrap-btn:active {
    background-color: #998675;
  }
  .video-wrap svg {
    display: none;
  }
  .video-wrap span {
    display: block;
    font-size: 110%;
  }
  .video-wrap p {
    font-size: 70%;
    line-height: 120%;
    margin: 5px;
  }
  .video-wrap-time {
    font-size: 60%;
  }
  .mobile {
    padding: 20px;
    flex-wrap: wrap;
  }
  .mobile-img {
    margin-bottom: 20px;
    width: 60%;
    height: auto;
  }
  .mobile-txt {
    margin: 0px;
  }
  .mobile-txt-list-item:before {
    width: 21px;
    height: 21px;
  }
  .counters {
    display: none;
  }
  .posts {
    padding: 20px;
  }
  .posts-txt {
    width: 100%;
  }
  .posts-wrap {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: 0 auto;
  }
  .posts-article {
    width: 80%;
    margin-right: 0;
    margin: 0 auto 20px;
  }
  .posts-article img {
    width: 100%;
    height: auto;
  }
  .posts-article:nth-child(3) {
    margin: 0 auto;
  }
  .posts-article-link:active {
    color: #c5c5c5;
  }
  .posts-article-link:active:after {
    border-left: 5px solid #c5c5c5;
  }
  .posts-btn {
    display: none;
  }
  .partners {
    padding: 20px;
    -webkit-box-pack: justify;
    -ms-flex-pack: distribute;
    justify-content: space-between;
  }
  .partners-logo {
    margin-right: 0;
    width: 20%;
  }
  .partners-logo img:active {
    opacity: 0.8;
  }
  .partners-logo img[src] {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  .footer-top {
    display: none;
  }
  .footer-bottom {
    padding: 20px;
    min-height: 106px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: justify;
    align-content: space-between;
  }
  .footer-bottom-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .footer-bottom-list-item a:active {
    color: #c7b299;
  }
  .footer-bottom-wrap-txt:active,
  .footer-bottom-wrap-link:active {
    color: #c7b299;
  }
}